/*
*= require bootstrap
*/
body {
    padding-top: 60px;
    padding-bottom: 70px;
}

footer.navbar {
    min-height: 30px;
}

footer.navbar-fixed-bottom {
    text-align: center;
    line-height: 30px;
}

.active {
    font-weight: bold;
}