<div class="jumbotron">
	<div class="container">
		<h1>Worship Maker</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin pretium diam, eget vestibulum tellus eleifend in. Sed eleifend suscipit nisl et dictum. Ut sed dui vulputate, pharetra dui quis, hendrerit sem. Nam non neque sed dolor faucibus rhoncus vitae ac magna. Mauris dignissim purus placerat dui accumsan pretium. Nulla vitae lacus quis nisi gravida feugiat.</p>
	</div>
</div>