<table class="table table-condensed table-bordered table-striped">
  <thead>
  <tr>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
  {{#each}}
    <tr>
      <td>
          {{title}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{#link-to "songs.new" class="btn btn-default btn-sm"}}Create Song{{/link-to}}
{{outlet}}